<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Aspire App Test Suite">

    <test name="Test Automation Pack">
        <classes>
            <class name="com.odoo.aspireapp.testCases.Login2"></class>
        </classes>
    </test>
</suite>